/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&display=swap');

:root
{
    --Blue : #464E9F;
    --Violet : #C3BED0;
    --Grey : #D1D3E4;
    --Pink : #F2E6E9;
    --White : #FEF8F2;
}

body
{
    font-family: "Bodoni Moda", serif;
    overflow-x: hidden;
}

.blueFont
{
    color: var(--Blue);
}

.sizeFont
{
    font-size: 1rem;
    line-height: 1.2rem;
}

/* Header */

header
{
    width: 100%;
    z-index: 99;
}

.nav-link
{
    padding: 30px;
    color: var(--White);
    font-size: 1.5em;
}

.navbar-toggler
{
    border: 1px solid var(--White);
}

.navbar-toggler:hover
{
    border-color: var(--Blue);
    border : 1px solid var(--Blue);
}

.nav-link:hover
{
    color: var(--Blue);
}

.logo
{
    height: 5rem;
    width: 5rem;
}

.sticky
{
    background-color: #000;
    opacity: 50%;
}
/* END Header */

.overlay
{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, .3);
}

/* Home section */

.home
{
    height: 1200px;
    background-image: url(../img/images/backGround/backGround2.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
}

.home .homeContent
{
    position: absolute;
    top: 30%;
    right: 20%;
    font-size: 2em;
    color: var(--White);
    line-height: 1.5em;
}

.home .homeTitlesSection
{
    position: absolute;
    top: 30%;
    left: 20%;
    color: var(--White);
    line-height: 4em;
}

.home .homeTitlesSection .homeTitle2
{
    position: absolute;
    left: 40%;
}

.bigLetter
{
    font-size: 8em;
}

i
{
    font-style: italic;
    font-size: 2.5em;
}

.home .homeTitleD
{
    font-size: 2.5em;
}

/* END Home Section */

/* mainContent Section */

.mainContent
{
    height: 1800px;
}

.mainContentTitle
{
    color: var(--Blue);
    font-size: 4rem;
}

h5
{
    color: var(--Blue);
}

.mainContent .blob1Content
{
    background: url(../img/svg/Blob1.svg) center center no-repeat;
    position: relative;
    height: 550px;
}

.mainContent .blob2Content
{
    background: url(../img/svg/Blob2.svg) center center no-repeat;
    position: relative;
    height: 680px;
}

.txtContentBlob1
{
    position: absolute;
    top: 28%;
    right: 15%;
}

.txtContentBlob2
{
    position: absolute;
    top: 20%;
    right: 27%;
}

.plumeContent
{
    height: 550px;
}

/* END mainContent section */

/* Footer */

footer
{
    height: 450px;
    background-color: var(--White);
}

h4
{
    color: var(--Blue);
    font-size: 1.5rem;
}

.txtFooter
{
    color: var(--Blue);
    font-size: 1rem;
}

#mapid
{
    height: 200px;
    border-radius: 10px;
}

.picto
{
    height: 5rem;
    width: 5rem;
}

.pictoFacebook
{
    height: 4.5rem;
    width: 4.5rem;
}

footer .webMasterLink
{
    text-decoration: none;
    font-weight: bold;
}

/*Media Queries*/

/*  Global  */
@media only screen and (min-width : 1100px) and (max-width : 1416px)
{
    .homeContent
    {
        margin-right: -10%;
    }

    .txtContentBlob1
    {
        position: absolute;
        top: 28%;
        right: 28%;
    }

    .txtContentBlob2
    {
        position: absolute;
        top: 20%;
        right: 35%;
    }

    .mainContent .blob1Content
    {
        width: 100%;
        height: 100%;
        background: url(../img/svg/Blob1.svg) center center no-repeat;
        position: relative;
        height: 550px;
    }

    .mainContent .blob2Content
    {
        width: 100%;
        height: 100%;
        background: url(../img/svg/Blob2.svg) center center no-repeat;
        position: relative;
        height: 680px;
    }

    .mainContent
    {
        height: 2500px;
    }

    .lotusContent
    {
        width: 100%;
        height: 100%;
        margin-left: 55%;
    }

    .plumeContent
    {
        width: 100%;
        height: 100%;
        margin-left: 55%;
    }
}

@media only screen and (min-width :800px) and (max-width : 1100px)
{
    .txtContentBlob1
    {
        position: absolute;
        top: 28%;
        right: 24%;
    }

    .txtContentBlob2
    {
        position: absolute;
        top: 20%;
        right: 30%;
    }

    .mainContent .blob1Content
    {
        width: 100%;
        height: 100%;
        background: url(../img/svg/Blob1.svg) center center no-repeat;
        position: relative;
        height: 550px;
    }

    .mainContent .blob2Content
    {
        width: 100%;
        height: 100%;
        background: url(../img/svg/Blob2.svg) center center no-repeat;
        position: relative;
        height: 680px;
    }

    .mainContent
    {
        height: 2500px;
    }

    .lotusContent
    {
        width: 100%;
        height: 100%;
        margin-left: 55%;
    }

    .plumeContent
    {
        width: 100%;
        height: 100%;
        margin-left: 55%;
    }
}

@media only screen and (min-width : 500px) and (max-width : 800px)
{
    .mainContentTitle
    {
        font-size: 3rem;
    }

    .txtContentBlob1
    {
        position: absolute;
        top: 28%;
        right: 24%;
    }

    .txtContentBlob2
    {
        position: absolute;
        top: 23%;
        right: 23%;
    }

    .mainContent .blob1Content
    {
        width: 100%;
        height: 100%;
        background: url(../img/svg/Blob1.svg) center center no-repeat;
        position: relative;
        height: 600px;
    }

    .mainContent .blob2Content
    {
        width: 100%;
        height: 100%;
        background: url(../img/svg/Blob2.svg) center center no-repeat;
        position: relative;
        height: 680px;
    }

    .mainContent
    {
        height: 2500px;
    }

    .lotusContent
    {
        width: 100%;
        height: 100%;
        margin-left: 10%;
    }

    .plumeContent
    {
        width: 100%;
        height: 100%;
        margin-left: 10%;
    }

    footer
    {
        height: 1200px;
    }
}

@media only screen and (min-width : 0px) and (max-width : 499px)
{
    .mainContent
    {
        height: 3000px;
    }

    footer
    {
        height: 1200px;
    }
}

/*  END Global  */


/*  Home  */
@media only screen and (min-width : 950px) and (max-width : 1099px)
{
    .homeContent
    {
       margin-top: 35%;
    }
}

@media only screen and (min-width : 850px) and (max-width : 950px)
{
    .homeContent
    {
       margin-top: 55%;
    }
}

@media only screen and (min-width : 750px) and (max-width : 850px)
{
    .homeContent
    {
       margin-top: 65%;
    }
}

@media only screen and (min-width : 550px) and (max-width : 750px)
{
    .homeContent
    {
       margin-top: 75%;
       margin-right: -10%;
    }
}

@media only screen and (min-width : 500px) and (max-width : 550px)
{
    .homeContent
    {
       margin-top: 75%;
       margin-right: -10%;
    }
}

@media only screen and (min-width : 0px) and (max-width : 500px)
{
    .homeContent
    {
       margin-top: 75%;
       margin-right: -10%;
    }
}
/*  END  Home  */