<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Sylvie Raquet thérapeute en sophrologie à Braine l'Alleud, Sylvie vous proposera différentes méthodes basées sur la méditation, la visualisation et la respiration afin que vous puissiez retrouver harmonie et Bien-être. Souffle d'équilibre vous proposera un cadre serein et chaleureux.">
        <meta name="keywords" content="Thérapeute en sophrologie, la sophrologie permet d'aider à accepter ses émotions, à gérer son stress et la douleur mais aussi de retrouver confiance en soi ...">
        <!-- Leaflet CSS-->
        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
		integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
		crossorigin="" />
        <!-- Library CSS-->
        <link rel="stylesheet" href="/assets/style/libraries/bootstrap.min.css">
        <!-- CSS -->
        <link rel="stylesheet" href="/assets/style/reset.css">
        <link rel="stylesheet" href="/assets/style/accueil2.css?v=1">
        <!--Library Leaflet JS-->
        <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js" integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA==" crossorigin=""></script>
        <!-- Library -->
        <script src="/assets/script/libraries/bootstrap.js" defer></script>
        <script src="/assets/script/libraries/jQuery.js" defer></script>
        <script src="/assets/script/main.js?v=1" defer></script>
        <title>Contact</title>
    </head>
    <body>
        
    </body>
</html>