<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Sylvie Raquet thérapeute en sophrologie à Braine l'Alleud, Sylvie vous proposera différentes méthodes basées sur la méditation, la visualisation et la respiration afin que vous puissiez retrouver harmonie et Bien-être. Souffle d'équilibre vous proposera un cadre serein et chaleureux.">
        <meta name="keywords" content="Thérapeute en sophrologie, la sophrologie permet d'aider à accepter ses émotions, à gérer son stress et la douleur mais aussi de retrouver confiance en soi ...">
        <!-- Leaflet CSS-->
        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
		integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
		crossorigin="" />
        <!-- Library CSS-->
        <link rel="stylesheet" href="/assets/style/libraries/bootstrap.min.css">
        <!-- CSS -->
        <link rel="stylesheet" href="/assets/style/reset.css">
        <link rel="stylesheet" href="/assets/style/quiSuisJe2.css?v=1">
        <!--Library Leaflet JS-->
        <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js" integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA==" crossorigin=""></script>
        <!-- Library -->
        <script src="/assets/script/libraries/bootstrap.js" defer></script>
        <script src="/assets/script/libraries/jQuery.js" defer></script>
        <script src="/assets/script/main.js?v=1" defer></script>
        <title>Qui suis-je ?</title>
    </head>
    <body>
        <!-- Header -->
        <header>
            <div class="container">
                <div class="row">
                    <nav class="navbar navbar-expand-lg fixed-top">
                        <div class="container-fluid justify-content-center">
                            <button class="navbar-toggler mx-5" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                                <span class="navbar-toggler-icon"></span>
                            </button>
                            <div class="collapse navbar-collapse flex-grow-0" id="navbarNav">
                                <ul class="navbar-nav">
                                    <li class="nav-item mx-5">
                                        <a class="nav-link" aria-current="page" href="/index.html">Accueil</a>
                                    </li>
                                    <li class="nav-item mx-5">
                                        <a class="nav-link" href="/assets/src/views/sophrologie.html">Qu'est-ce que la <strong>sophrologie</strong> ?</a>
                                    </li>
                                    <li class="nav-item mx-5">
                                        <a class="nav-link" aria-current="page" href="/assets/src/views/quiSuisJe.html">Qui suis-je ?</a>
                                    </li>
                                    <li class="nav-item mx-5">
                                        <a class="nav-link" href="/assets/src/views/contact.html">Contact</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </nav>
                </div>
            </div>
        </header>
        <section class="mainContent">
            <div class="container">
                <div class="row">
                    <div class="col-md-8">
                        <article class="my-5">
                            <p class="text-center blueFontPBold">Je m’appelle Sylvie et je suis maman de deux garçons.</p>
                            <p class="mt-3 text-center blueFontP">J'ai longtemps occupé un poste de conseillère dans le domaine bancaire, une expérience qui m'a permis de développer une forte sensibilité au relationnel. Aider les autres a toujours été une véritable vocation pour moi.</p>
                            <p class="mt-3 text-center blueFontP">Cependant, après un burn-out, j'ai pris conscience que je m'étais perdue dans cette fonction. Je ne me sentais plus alignée avec mes aspirations ni mes convictions profondes. J'ai alors décidé de prendre soin de moi, de m'accorder le temps nécessaire pour me recentrer, écouter et comprendre mes propres besoins. </p>
                            <p class="mt-3 text-center blueFontP">C'est dans cette quête de mieux-être que j'ai entamé une formation en sophrologie. Cette discipline m'a permis d'apprendre à gérer mon stress et mes émotions, tout en favorisant mon épanouissement personne</p>
                            <p class="mt-3 text-center blueFontP">Au fil des séances, j'ai réalisé que j'avais déjà en moi les ressources nécessaires pour faire face aux situations difficiles, cultiver le positif dans ma vie, me relaxer et me projeter vers un avenir plus aligné avec mes valeurs.</p>
                            <p class="mt-3 text-center blueFontP">Grâce à des exercices corporels, la respiration consciente et des visualisations, j'ai appris à me reconnecter à moi-même.</p>
                            <p class="mt-3 text-center blueFontP">Aujourd'hui, je suis sur un chemin vers un mieux-être durable, et j'aspire à partager cette expérience pour accompagner d'autres personnes dans leur propre transformation.</p>
                        </article>
                    </div>
                    <div class="col-md-1"></div>
                    <div class="col-md-3">
                        <div class="my-5 lotusContent">
                            <img src="/assets/img/svg/Mixed.svg" alt="Image représentant un lotus mauve avec en son centre un yogi" class="Mixed">
                        </div>
                    </div>
                </div>
                <div class="row blocFormation">
                    <div class="col-md-12 my-5">
                        <div class="titleWithIcon">
                            <div class="diplomeContainer">
                                <img src="/assets/img/svg/Diplôme.svg" class="formationIcon" alt="Picto d'un rouleau représentant un diplôme" id="diplome">
                            </div>
                            <h1 class="mb-5 text-center">FORMATIONS</h1>
                        </div>
                        <ul class="mx-5 my-5 blueFontP">
                            <li><span>&#8226;</span>&nbsp;Diplomée en Harmonie Vitale par la Sophrologie à l’EAFC Rixensart.</li>
                            <li><span>&#8226;</span>&nbsp;Certifiée par l’Hyper Academy sur “Les bases de l’accompagnement professionnel du haut potentiel et de l’hypersensibilité “.</li>
                        </ul>
                    </div> 
                </div>
            </div>
        </section>
        <footer class="container-fluid text-center text-lg-start py-5">
            <div class="container text-center">
                <div class="row">
                    <div class="col-md-4">
                        <ul class="nav flex-column">
                            <h4 class="p-3">Adresse</h4>
                            <p class="txtFooter sizeFont">Rue de la légère eau, 33</p>
                            <p class="blueFont sizeFont mt-2">Braine l'Alleud</p>
                            <div class="p-3">
                                <div id="mapid" class="container-fluid"></div>
                            </div>
                        </ul>
                    </div>
                    <div class="col-md-4">
                        <ul class="nav flex-column">
                            <h4 class="p-3">Contactez-moi</h4>
                            <p class="txtFooter sizeFont">Par téléphone, sms ou whatsapp</p>
                            <p class="txtFooter sizeFont mt-2">au</p>
                            <p class="txtFooter sizeFont mt-2">0476/67.41.88</p>
                            <p class="txtFooter my-3">Ou par mail, en cliquant sur l'enveloppe</p>
                            <li class="nav-item">
                                <a class="nav-link" href="mailto:sylvie.raquet@souffle-d-equilibre-sophrologie.com"><img class="picto" src="/assets/img/svg/footer/email.svg" alt="Picto représentant une enveloppe"></a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-4">
                        <ul class="nav flex-column">
                            <h4 class="p-3">Réseaux</h4>
                            <li class="nav-item">
                                <a class="nav-link" href="https://www.facebook.com/souffle.d.equilibre/"><img class="pictoFacebook" src="/assets/img/svg/footer/facebook.svg" alt="Picto représentant le logo facebook"></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="https://www.instagram.com/souffle_d_equilibre/"><img class="picto" src="/assets/img/svg/footer/instagram.svg" alt="Picto représentant le logo instagram"></a>
                            </li>
                        </ul>
                    </div>
                    <div>
                        <a class="webMasterLink" href="mailto:chrisrodriguez@hotmail.be"><p class="text-center blueFont fw-bolder mt-2">&copy; Chris Rodriguez Perez - 2025</p></a>
                    </div>
                </div>
            </div>
       </footer>
    </body>
</html>